n<x-main>
  <table class="mx-auto font-primary align-center-table">
    <tr>
      <td class="w-[600px] sm:w-full bg-white align-center-table max-w-[600px]">
        <table class="w-full">
          <tr>
            <td class="h-4"></td>
          </tr>
          <tr>
            <!-- adding Section-01  -->
            <td>
              <x-sections.section-01 />
            </td>
            <!-- adding Section-01  -->
          </tr>
          <!-- Spacer starts -->
          <tr>
            <td class="h-2"></td>
          </tr>
          <!-- Spacer ends -->
          <!-- adding Section-02  -->
          <tr>
            <td>
              <x-sections.section-02 />
            </td>
          </tr>
          <!-- adding Section-02  -->
          <!-- Spacer starts -->
          <tr>
            <td class="h-2"></td>
          </tr>
          <!-- Spacer ends -->
          <!-- adding Section-03  -->
          <tr>
            <td>
              <x-sections.section-03 />
            </td>
          </tr>
          <!-- adding Section-03  -->
          <!-- Spacer starts -->
          <tr>
            <td class="h-2"></td>
          </tr>
          <!-- Spacer ends -->
          <tr>
            <!-- adding Section-04  -->
            <td>
              <x-sections.section-04 />
            </td>
            <!-- adding Section-04  -->
          </tr>
        </table>
      </td>
    </tr>
  </table>
</x-main>
