<table class="w-full">
  <tr>
    <td>
      <table class="w-full border-0">
        <tbody>
          <!-- Banner section starts -->
          <tr>
            <td class="w-[3%]"></td>
            <td class="w-[94%]">
              <x-image
                class="block w-full h-auto"
                imgUrl="banner.png"
                alt="Banner"
              />
            </td>
            <td class="w-[3%]"></td>
          </tr>
          <!-- Banner section ends -->
          <tr>
            <td class="w-[3%]"></td>
            <td class="w-[94%]">
              <table class="w-full">
                <tbody>
                  <!-- Spacer starts -->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Spacer ends -->
                  <!-- sub heading section starts -->
                  <tr>
                    <td
                      class="text-center text-2xl text-[#005555] font-bold leading-[27px]"
                    >
                      Excepteur sint occaecat cupidatat
                    </td>
                  </tr>
                  <!-- sub heading section ends -->
                  <!-- Spacer starts -->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Spacer ends -->
                  <!-- body content starts -->
                  <tr>
                    <td
                      class="text-center text-base text-black font-normal leading-5"
                    >
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </td>
                  </tr>
                  <!-- body content ends -->
                  <!-- Spacer starts -->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Spacer ends -->
                  <!-- button section starts -->
                  <tr>
                    <td class="w-full align-top">
                      <table class="w-full border-0">
                        <tbody>
                          <tr>
                            <td class="w-[20%] align-top"></td>
                            <td class="w-[60%] align-top">
                              <x-image
                                class="block w-full h-auto"
                                imgUrl="cta_button.png"
                                alt="Button"
                              />
                            </td>
                            <td class="w-[20%] align-top"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <!-- button section ends -->
                  <!-- Spacer starts -->
                  <tr>
                    <td class="h-10"></td>
                  </tr>
                  <!-- Spacer ends -->
                </tbody>
              </table>
            </td>
            <td class="w-[3%]"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
