<table class="w-full">
  <tr>
    <td>
      <table class="w-full border-0">
        <tbody>
          <tr>
            <td class="w-[3%]"></td>
            <td class="w-[94%]">
              <table class="w-full border-0">
                <tbody>
                  <!-- footer section starts -->
                  <!-- Spacer starts -->
                  <tr>
                    <td class="h-6"></td>
                  </tr>
                  <!-- Spacer ends -->

                  <!-- sub heading section starts -->
                  <tr>
                    <td
                      class="text-left text-xs font-bold text-black leading-[15px]"
                    >
                      Ut enim ad minim:
                    </td>
                  </tr>
                  <!-- sub heading section ends -->
                  <!-- Spacer starts-->
                  <tr>
                    <td class="h-4"></td>
                  </tr>
                  <!-- Spacer ends -->
                  <!-- footer content starts -->
                  <!-- footer content_1 starts -->
                  <tr>
                    <td
                      class="text-left text-xs font-normal text-black leading-[15px]"
                    >
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </td>
                  </tr>
                  <!-- footer content_1 ends -->
                  <!-- Spacer  starts-->
                  <tr>
                    <td class="h-4"></td>
                  </tr>
                  <!-- Spacer  ends-->
                  <!-- footer content_2 starts -->
                  <tr>
                    <td
                      class="text-left text-xs font-normal text-black leading-[15px]"
                    >
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                      irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur.
                    </td>
                  </tr>
                  <!-- footer content_2 ends -->
                  <!-- Spacer  starts-->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Spacer  ends-->
                  <!-- footer content_3 starts -->
                  <tr>
                    <td
                      class="text-left text-xs font-bold text-black leading-[15px]"
                    >
                      Sint occaecat cupidatat:
                    </td>
                  </tr>
                  <!-- footer content_3 ends -->
                  <!-- Spacer  starts-->
                  <tr>
                    <td class="h-4"></td>
                  </tr>
                  <!-- Spacer  ends-->
                  <!-- footer content_4 starts -->
                  <tr>
                    <td
                      class="text-left text-xs font-normal text-black leading-[15px]"
                    >
                      <ol class="list-decimal pl-5">
                        <li>
                          Excepteur sint occaecat cupidatat non proident, sunt
                          in culpa qui officia deserunt mollit anim id est
                        </li>
                        <li>
                          Duis aute irure dolor in reprehenderit in voluptate
                          velit esse cillum dolore eu fugiat
                        </li>
                      </ol>
                    </td>
                  </tr>
                  <!-- footer content_4 ends -->
                  <tr>
                    <td class="h-[1px] border-b border-black"></td>
                  </tr>
                  <!-- Spacer  starts-->
                  <tr>
                    <td class="h-6"></td>
                  </tr>
                  <!-- Spacer ends-->
                  <!-- footer content_5 starts -->
                  <tr>
                    <td
                      class="text-center text-sm font-normal text-black leading-[15px]"
                    >
                      Sed do eiusmod tempor incididunt ut labore
                    </td>
                  </tr>
                  <!-- footer content_5 ends -->
                  <!-- Spacer starts-->
                  <tr>
                    <td class="h-5"></td>
                  </tr>
                  <!-- Spacer ends-->
                  <!-- Logo Image starts -->
                  <tr>
                    <td>
                      <table class="w-full">
                        <tbody>
                          <tr>
                            <td class="w-[40%]"></td>
                            <td class="w-[20%]">
                              <x-image
                                class="block w-full h-auto"
                                imgUrl="logo1.png"
                                alt="logo"
                              />
                            </td>
                            <td class="w-[40%]"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <!-- Logo Image ends -->
                  <!-- Spacer starts -->
                  <tr>
                    <td class="h-2"></td>
                  </tr>
                  <!-- Spacer starts -->
                </tbody>
                <!-- footer section ends -->
              </table>
            </td>
            <td class="w-[3%]"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
