<table class="w-full">
  <tr>
    <td>
      <table class="w-full bg-[#f0f5f5] border-0">
        <tbody>
          <tr>
            <td class="w-[3%]"></td>
            <td class="w-[94%]">
              <table class="w-full border-0">
                <tbody>
                  <!-- Spacer starts-->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Spacer ends-->
                  <!-- thumbnail header starts -->
                  <tr>
                    <td
                      class="text-center text-2xl font-bold text-[#005555] leading-[27px]"
                    >
                      Sint cupidatat occaecat ut
                    </td>
                  </tr>
                  <!-- thumbnail header starts -->
                  <!-- Spacer starts-->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Spacer ends-->
                  <!-- thumbnail Section starts -->
                  <tr>
                    <td>
                      <table class="w-full">
                        <tbody>
                          <tr>
                            <!-- thumbnail one section starts -->
                            <td
                              class="w-[48%] p-2 w-[600px] max-w-[600px] sm:w-full sm:block"
                            >
                              <table class="w-full bg-white">
                                <tbody>
                                  <!-- Spacer starts-->
                                  <tr>
                                    <td class="h-6"></td>
                                  </tr>
                                  <!-- Spacer ends-->
                                  <!-- thumbnail_1 Image starts -->
                                  <tr>
                                    <td>
                                      <x-image
                                        class="block w-full h-auto sm:w-[60%] sm:mx-auto"
                                        imgUrl="profile.png"
                                        alt="thumbnail_1"
                                      />
                                    </td>
                                  </tr>
                                  <!-- thumbnail_1 Image ends -->
                                  <!-- Spacer  starts-->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Spacer  starts-->
                                  <!-- thumbnail title starts -->
                                  <tr>
                                    <td
                                      class="text-center text-xl font-bold text-[#005555] leading-[23px]"
                                    >
                                      Nisi ut ade
                                    </td>
                                  </tr>
                                  <!-- thumbnail title ends -->
                                  <!-- Spacer starts -->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Spacer ends -->
                                  <!-- thumbnail content starts -->
                                  <tr>
                                    <td
                                      class="p-2 text-center text-base font-normal text-black leading-5"
                                    >
                                      Lorem ipsum dolor sit amet, consectetur
                                      adipiscing elit, sed do eiusmod tempor
                                      incididunt ut labore et dolore magna
                                      aliqua. Ut enim ad minim veniam.
                                      <sup
                                        ><span
                                          class="text-[9px] leading-0 align-[6px]"
                                          >1</span
                                        ></sup
                                      >
                                    </td>
                                  </tr>
                                  <!-- thumbnail content ends -->
                                  <!-- Spacer starts-->
                                  <tr>
                                    <td class="h-7"></td>
                                  </tr>
                                  <!-- Spacer ends-->
                                </tbody>
                              </table>
                            </td>
                            <!-- thumbnail one section ends -->
                            <!-- Spacer starts -->
                            <td class="w-[4%] sm:w-full sm:block"></td>
                            <!-- Spacer ends -->
                            <!-- thumbnail two section starts -->
                            <td
                              class="w-[48%] p-2 w-[600px] max-w-[600px] sm:w-full sm:block"
                            >
                              <table class="w-full bg-white">
                                <tbody>
                                  <!-- Spacer starts -->
                                  <tr>
                                    <td class="h-6"></td>
                                  </tr>
                                  <!-- Spacer ends -->
                                  <!-- thumbnail_2 Image starts -->
                                  <tr>
                                    <td>
                                      <x-image
                                        class="block w-full h-auto sm:w-[60%] sm:mx-auto"
                                        imgUrl="profile.png"
                                        alt="profile"
                                      />
                                    </td>
                                  </tr>
                                  <!-- thumbnail_2 Image ends -->
                                  <!-- Spacer starts -->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Spacer ends -->
                                  <!-- thumbnail title starts -->
                                  <tr>
                                    <td
                                      class="text-center text-xl font-bold text-[#005555] leading-[23px]"
                                    >
                                      Duis aute irure
                                    </td>
                                  </tr>
                                  <!-- thumbnail title ends -->
                                  <!-- Spacer starts-->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Spacer ends -->
                                  <!-- thumbnail content starts -->
                                  <tr>
                                    <td
                                      class="p-2 text-center text-base font-normal text-black leading-5"
                                    >
                                      Lorem ipsum dolor sit amet, consectetur
                                      adipiscing elit, sed do eiusmod tempor
                                      incididunt ut labore et dolore magna
                                      aliqua. Ut enim ad minim veniam.
                                      <sup
                                        ><span
                                          class="text-[9px] leading-0 align-[6px]"
                                          >2</span
                                        ></sup
                                      >
                                    </td>
                                  </tr>
                                  <!-- thumbnail content ends -->
                                  <!-- Spacer starts-->
                                  <tr>
                                    <td class="h-7"></td>
                                  </tr>
                                  <!-- Spacer ends -->
                                </tbody>
                              </table>
                            </td>
                            <!-- thumbnail two section ends -->
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <!-- thumbnail Section ends -->
                  <!-- Spacer starts -->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Spacer ends -->
                </tbody>
              </table>
            </td>
            <td class="w-[3%]"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
