<table class="w-full">
  <tr>
    <td>
      <table class="w-full bg-[#f0f5f5] border-0">
        <tbody>
          <!-- Spacer Row -->
          <tr>
            <td class="w-[3%]"></td>
            <td class="w-[94%]">
              <table class="w-full border-0">
                <tbody>
                  <!-- Spacer -->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                  <!-- Title -->
                  <tr>
                    <td class="text-center text-2xl font-bold text-[#005555] leading-[27px]">
                      Sint cupidatat occaecat ut
                    </td>
                  </tr>
                  <!-- Spacer -->
                  <tr>
                    <td class="h-8"></td>
                  </tr>

                  <!-- DR Profile Section -->
                  <tr>
                    <td>
                      <table class="w-full">
                        <tbody>
                          <tr>
                            <!-- First Profile Card -->
                            <td class="w-[48%] p-2 w-[600px] max-w-[600px] sm:w-full sm:block">
                              <table class="w-full bg-white">
                                <tbody>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-6"></td>
                                  </tr>
                                  <!-- Profile Image -->
                                  <tr>
                                    <td>
                                      <!-- <img src="../../images/profile.png" alt="profile" class="block w-full h-auto"> -->
                                   
                                      <x-image
                                      class="block w-full h-auto sm:w-[60%] sm:mx-auto"
                                      imgUrl="profile.png"
                                      alt="profile"
                                      />
                                   
                                    </td>
                                  </tr>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Profile Name -->
                                  <tr>
                                    <td class="text-center text-xl font-bold text-[#005555] leading-[23px]">
                                      Nisi ut ade
                                    </td>
                                  </tr>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Profile Description -->
                                  <tr>
                                    <td class="p-2 text-center text-base font-normal text-black leading-5">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                      <sup><span class="text-[9px] leading-0 align-[6px]">1</span></sup>
                                    </td>
                                  </tr>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-7"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>

                            <!-- Spacer Between Profile Cards -->
                            <td class="w-[4%] sm:w-full sm:block"></td>

                            <!-- Second Profile Card -->
                            <td class="w-[48%] p-2   w-[600px] max-w-[600px]  sm:w-full sm:block">
                              <table class="w-full bg-white">
                                <tbody>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-6"></td>
                                  </tr>
                                  <!-- Profile Image -->
                                  <tr>
                                    <td>
                                      <!-- <img src="../../images/profile.png" alt="profile" class="block w-full h-auto"> -->
                                      <x-image
                                      class="block w-full h-auto sm:w-[60%] sm:mx-auto"
                                      imgUrl="profile.png"
                                      alt="profile"
                                      />
                                    
                                    
                                    </td>
                                  </tr>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Profile Name -->
                                  <tr>
                                    <td class="text-center text-xl font-bold text-[#005555] leading-[23px]">
                                      Duis aute irure
                                    </td>
                                  </tr>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-4"></td>
                                  </tr>
                                  <!-- Profile Description -->
                                  <tr>
                                    <td class="p-2 text-center text-base font-normal text-black leading-5">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                      <sup><span class="text-[9px] leading-0 align-[6px]">2</span></sup>
                                    </td>
                                  </tr>
                                  <!-- Spacer -->
                                  <tr>
                                    <td class="h-7"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <!-- Spacer -->
                  <tr>
                    <td class="h-8"></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="w-[3%]"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
