<table class="w-full">
  <tr>
    <td>
      <table class="w-full border-0">
        <tbody>
          <tr>
            <td class="w-[3%]"></td>
            <td class="w-[94%]">
              <table class="w-full border-0">
                <tbody>
                  
                  <tr>
                      <!-- logo section starts -->
                    <td class="w-[20%]">
                      <x-image
                        class="block w-full h-auto"
                        imgUrl="logo1.png"
                        alt="Logo"
                      />
                    </td>
                      <!-- logo section starts -->
                    <td class="w-[4%]"></td>
                    <!-- header content starts -->
                    <td
                      class="w-[56%] text-black text-xs font-normal leading-[15px]"
                    >
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat
                    </td>
                      <!-- header content ends -->
                    <td class="w-[20%]"></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="w-[3%]"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
